h1 {
    padding: 0px;
}
body{
    display: flexbox;
    color: rgb(255, 255, 255);
}
.first{
    display: block;
    background: rgb(117, 117, 117);
}
.second{
    background: rgb(80, 80, 80);
}

.first,.second {
    border: 2px solid teal;
    
    
}