@font-face {
    font-family: 'Creepy';
    src: url('Assets/Fonts/Creepy.woff') format('woff'), url('Assest/Fonts/Creepy.woff2') format('woff2');
}
@font-face {
    font-family: 'Lunacy';
    src: url('Assets/Fonts/Lunacy.woff') format('woff'), url('Assest/Fonts/Lunacy.woff2') format('woff2');
}

* {
    box-sizing: border-box;
}